@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, .3);
}

.loginForm,
.registerForm {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.registerForm .form-floating:nth-child(1) input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.registerForm .form-floating:nth-child(2) input {
  border-radius: 0;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1rem;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-group {
  margin-top: 1rem;
}

label {
  display: block;
}

#root {
  margin-bottom: 2rem;
}

.hotelImage img {
  max-width: 100px;
}

.editHotelForm .previewImage {
  max-width: 200px;
  max-height: 200px;
}

.hotelBox .photo {
  height: 200px;
  overflow: hidden;
}

.hotelBox .photo img {
  min-height: 100%;
  width: 100%;
}